/*definindo layout html*/
#navibar {
	display: flex;
	flex-direction: column;
	left:0;
	position: fixed;
	height: 100%;
	width: 20%;
	border: 1px solid black;
}

#div-titulo, #div-links {
	display: flex;
	flex-direction: column;
	margin: 1em;
	border: 1px solid black;
	padding: 1em;
}

#div-conteudo {
	border: 1px solid black;
	margin-left: 20%;
	height: 100%;
	padding: 1em;
}

#div-checkbox-tipos, #div-checkbox-dados {
	display: flex;
	flex-direction: row;
}

fieldset > ul {
	margin-left: 1em;
}

fieldset, button {
	margin-bottom: 1em;
}

th, td {
	border: 1px solid black;
	padding: 1em;
	word-wrap: break-word;
}

table {
	table-layout: fixed;
	width: 100%;
}
